@import "./screen";
@import "./page-header__nav";
@import "./social-block";
@import "./intro";
@import "./slider.scss";
@import "./chat.scss";
@import "./header";
@import "./footer.scss";
@import "./rules.scss";
