// TODO настроение тоглов не совпадает с рефом. Возможно стоит изучить подронее зависимости процента анимаций
// и функций безье и как они взаимодействуют между собой. пока всё "на глаз".
// Возможно стоит задать вопрос, каким образом балансируют эти два значения, в каком случае каким значением лучше пользоваться в первую очередь
// В задании было написано "значение больше 1 для Y2 в кривой Безье", возможно надо было делать через безье?

// TODO переписать все эти анимации, соединив в единую композицию из нескольких безье / отдельных анимаций. Например объединить все исчезновения букв в один кейфрейм
@keyframes rules__item-toggle {
  0% {
    transform: scale(0%);
    color: transparent;
  }

  35% {
    transform: scale(100%);
    color: transparent;
  }

  65% {
    transform: scale(120%);
  }

  100% {
    transform: scale(100%);
    color: $c-light;
  }
}

@keyframes rules__item-p {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rules__link-bg {
  0% {
    width: 35%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes rules__link {
  0% {
    color: transparent;
  }

  100% {
    color: $c-dark;
  }
}
